.bgs {
  position: relative;

  .bg {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: opacity 4s linear 0s;
    -moz-transition: opacity 4s linear 0s;
    -ms-transition: opacity 4s linear 0s;
    -o-transition: opacity 4s linear 0s;
    transition: opacity 4s linear 0s;

    &.show {
      opacity: 1;
    }

    &.bg1 {
      background: url("../images/home-bg-0.png") repeat-x 0 50%;
    }

    &.bg2 {
      background: url("../images/home-bg-1.png") repeat-x 0 50%;
    }

    &.bg3 {
      background: url("../images/home-bg-2.png") repeat-x 0 50%;
    }

    &.bg4 {
      background: url("../images/home-bg-3.png") repeat-x 0 50%;
    }

    &.bg5 {
      background: url("../images/home-bg-4.png") repeat-x 0 50%;
    }
  }
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: repeat-x;
  height: 100%;
  z-index: 50;

  &.clouds-1 {
    background-image: url("../images/clouds-1.png");
    background-position: 0 100%;

    -webkit-animation: animatedCloudsRight 90s linear infinite;
    -moz-animation: animatedCloudsRight 90s linear infinite;
    -ms-animation: animatedCloudsRight 90s linear infinite;
    -o-animation: animatedCloudsRight 90s linear infinite;
    animation: animatedCloudsRight 90s linear infinite;
  }

  &.clouds-2 {
    background-image: url("../images/clouds-2.png");
    background-position: 1400px 100%;

    -webkit-animation: animatedCloudsLeft 60s linear infinite;
    -moz-animation: animatedCloudsLeft 60s linear infinite;
    -ms-animation: animatedCloudsLeft 60s linear infinite;
    -o-animation: animatedCloudsLeft 60s linear infinite;
    animation: animatedCloudsLeft 60s linear infinite;
  }

  &.clouds-3 {
    background-image: url("../images/clouds-3.png");
    background-position: 0 100%;

    -webkit-animation: animatedCloudsRight 240s linear infinite;
    -moz-animation: animatedCloudsRight 240s linear infinite;
    -ms-animation: animatedCloudsRight 240s linear infinite;
    -o-animation: animatedCloudsRight 240s linear infinite;
    animation: animatedCloudsRight 240s linear infinite;
  }
}
