@-moz-keyframes animatedBackgroundRight {
  to {
    background-position: 1398px 0;
  }
}

@-moz-keyframes animatedBackgroundLeft {
  to {
    background-position: 0 0;
  }
}

@-webkit-keyframes animatedBackgroundRight {
  to {
    background-position: 1398px 0;
  }
}

@-webkit-keyframes animatedBackgroundLeft {
  to {
    background-position: 0 0;
  }
}

@-o-keyframes animatedBackgroundRight {
  to {
    background-position: 1398px 0;
  }
}

@-o-keyframes animatedBackgroundLeft {
  to {
    background-position: 0 0;
  }
}

@-ms-keyframes animatedBackgroundRight {
  to {
    background-position: 1398px 0;
  }
}

@-ms-keyframes animatedBackgroundLeft {
  to {
    background-position: 0 0;
  }
}

@keyframes animatedBackgroundRight {
  to {
    background-position: 1398px 0;
  }
}

@keyframes animatedBackgroundLeft {
  to {
    background-position: 0 0;
  }
}

/*Animate Clouds*/

@-moz-keyframes animatedCloudsRight {
  to {
    background-position: 1400px 100%;
  }
}

@-moz-keyframes animatedCloudsLeft {
  to {
    background-position: 0 100%;
  }
}

@-webkit-keyframes animatedCloudsRight {
  to {
    background-position: 1400px 100%;
  }
}

@-webkit-keyframes animatedCloudsLeft {
  to {
    background-position: 0 100%;
  }
}

@-o-keyframes animatedCloudsRight {
  to {
    background-position: 1400px 100%;
  }
}

@-o-keyframes animatedCloudsLeft {
  to {
    background-position: 0 100%;
  }
}

@-ms-keyframes animatedCloudsRight {
  to {
    background-position: 1400px 100%;
  }
}

@-ms-keyframes animatedCloudsLeft {
  to {
    background-position: 0 100%;
  }
}

@keyframes animatedCloudsRight {
  to {
    background-position: 1400px 100%;
  }
}

@keyframes animatedCloudsLeft {
  to {
    background-position: 0 100%;
  }
}
