<div class="site-wrapper" full-height backgrounds>
  <div class="container overall" full-height>
    <a href="#/" class="about-me btn btn-info">Go back to TickTock</a>

    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="about-wrapper">
            <h1>{{about.me.name}}</h1>

            <ul class="list-unstyled">
              <li><a href="{{about.me.github}}" target="_blank"><span><i class="fa fa-linkedin"></i></span> GitHub</a>
              </li>
              <li><a href="{{about.me.linkedin}}" target="_blank"><span><i class="fa fa-github-alt"></i></span> LinkedIn</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
