<div class="site-wrapper" full-height backgrounds>
  <div class="container overall" full-height>
    <a href="#/about" class="about-me btn btn-info">About me!</a>
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="clock-wrapper">
            <h1><span><i class="fa fa-clock-o"></i></span> TickTock</h1>

            <div class="clock" ng-cloak>{{ clock.clock | date:'medium'}}</div>

            <div class="controls">
              <div class="control alarm-setter">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#alarm-modal">
                  <i class="fa fa-bed"></i></span> Set the alarm!
                </button>
              </div>

              <div class="control mute" ng-show="!clock.isMuted">
                <span class="btn btn-danger" ng-click="clock.mute()">
                  <i class="fa fa-volume-off"></i> Mute
                </span>
              </div>

              <div class="control unmute" ng-show="clock.isMuted" ng-cloak>
                <span class="btn btn-danger" ng-click="clock.unmute()">
                  <i class="fa fa-volume-up"></i> Un-mute
                </span>
              </div>

              <div class="control alarm-stopper" ng-show="clock.showAlarmStopper">
                <span class="btn btn-danger" ng-click="clock.stopAlarm()">
                  <i class="fa fa-stop"></i> Stop alarm
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="alarm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Alarma</h4>
      </div>
      <div class="modal-body">
        <p>Seleccione la hora:</p>
        <datetimepicker
          ng-model="clock.alarmTime"
          date-format="dd-MMM-yyyy"
          date-options="dateOptions"
          date-disabled="isDisabledDate(date, mode)">
        </datetimepicker>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="clock.setAlarm()" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
